html, body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
	text-align: center;
}

h1 {
	font-size: 2rem;
}

.grid {
	margin: 0 auto;
	background-color: grey;
	height: 80vh;
	width: 70vw;
	border: 5px solid black;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*border-collapse: collapse;*/

}

.square {
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border: 2px solid black;
	text-align: center;
	font-size: 2rem;
	/*border-collapse: collapse;*/
	display: flex;
	width: 25%;
}

.square:hover, .square:focus {
	cursor: pointer;
}

/*.sq-norm {
	width: 25%;
	height: 20%;
}*/

/*.sq-tall {
	width: 25%;
	height: 40%;
	position: absolute;
}*/

/*.sq-wide {
	width: 50%;
	height: 20%;
}*/

.history-box {
	margin: 0 auto;
	margin-bottom: 1rem;
	width: 70vw;
	display: block;
	box-sizing: border-box;
	border: 4px solid black;
}

/*.b4, .b5, .b6 {
	position: fixed;
}*/

.show-text {
	margin: 0 auto;
	width: 70vw;
	box-sizing: border-box;
	border: 5px solid black;
}

.highlight {
	background-color: lightgrey;
}

.historybox {
	overflow: auto;
}

