html, body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
	text-align: center;
	background-color: azure;
}

h1 {
	font-family: Arial;
	font-size: 2rem;
	font-style: oblique;
	font-weight: 900;
}

.grid {
	margin: 0 auto;
	background-color: azure;
	width: 60vw;
	height: 75vw;
	border: 5px solid grey;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 1rem;

}

.square {
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	
	background-color: grey;

	border: 2px solid black;
	text-align: center;
	font-size: 2rem;
	/*border-collapse: collapse;*/
	display: flex;
	width: 25%;
	border-radius: 0.7rem;
}

.square:hover, .square:focus {
	cursor: pointer;
}

.history-box {
	margin: 0 auto;
	margin-bottom: 1rem;
	align-items: center;
	background-color: white;

	width: 48vw;
	height: 2.5rem;
	padding-left: 0.5rem;
	display: flex;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	/*direction: rtl;*/

}

.result-box {
	margin: 0 auto 1rem;
	width: 48vw;
	height: 3rem;
	background-color: white;


	padding-right: 1rem;
	display: flex;
	box-sizing: border-box;
	border: 4px solid rgba(50, 50, 50, 0.3);
	border-radius: 15px;
	overflow: hidden;
	
	align-items: center;
	font-family: Helvetica, Arial;
	font-weight: 900;
	font-size: 1.6rem;
	right: 1rem;
	/*font-direction: right;*/
	direction: rtl;
}

/*.sq-norm {
	width: 25%;
	height: 20%;
}*/

/*.sq-tall {
	width: 25%;
	height: 40%;
	position: absolute;
}*/

/*.sq-wide {
	width: 50%;
	height: 20%;
}*/



/*.b4, .b5, .b6 {
	position: fixed;
}*/

.show-text {
	margin: 0 auto;
	width: 70vw;
	box-sizing: border-box;
	border: 5px solid black;
}

.highlight {
	background-color: lightgrey;
}

.historybox {
	overflow: auto;
}

.zeroh {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


/*LARGE DEVICES*/
@media (min-width: 900px) {
	.grid{
		height: 25vw;
		width:  20vw;
	}

	.history-box {
		width: 20vw;
	}

	.result-box {
		width: 20vw;
	}
}